.main {
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: cursive;
}

.image {
  width: 70%;
  height: 50%;
  margin-left: 20%;
}

.title {
  font-size: 2rem;
  margin: 1rem 0;
  font-family: cursive;
}

.description {
  line-height: 1;
  margin: 1rem 0;
  font-size: 1.2rem;
  font-family: cursive;
}

.button {
  border-radius: 4px;
  background-color: blue;
  border: none;
  color: #ffffff;
  font-size: 20px;
  padding: 20px;
  width: 200px;
  cursor: pointer;
  margin-bottom: 2%;
}

.footer {
  margin-top: 1rem;
  padding: 1rem 5.5rem;
  background-color: #24242c;
  color: white;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: larger;
}

.teamLink {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

.teamTitle {
  text-align: center;
  font-family: cursive;
}

.card {
  margin: 1rem 6rem;
}

/* .container {
  display: flex;
  flex-wrap: wrap;
  border-spacing: 0;
}

.gridImage {
  width: 50%;
  height: 50%;
} */

.aboutCard {
  margin: 1rem 6rem;
  text-align: center;
}
