.main {
  /* min-height: 80vh; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: cursive, Candara;
  /* background-color: #24242c; */
}

/* .image {
  width: 70%;
  height: 50%;
  margin-left: 20%;
} */

.title {
  font-size: 2rem;
  margin: 1rem 0;
  font-family: cursive, Candara;
}

.altTitle {
  font-size: 2.5rem;
  margin: 1rem 0;
  text-align: center;
  font-family: cursive, Candara;
}

.description {
  line-height: 1;
  margin: 1rem 0;
  font-size: 1.2rem;
  font-family: cursive, Candara;
}

.aboutDescription {
  line-height: 1.5;
  margin: 1rem 3rem;
  font-size: 1.2rem;
  font-family: cursive, Candara;
}

.roadmapDescription {
  line-height: 1.5;
  margin: 0.5rem;
  font-size: 1.1rem;
  font-family: cursive, Candara;
}

.button {
  border-radius: 4px;
  background-color: blue;
  border: none;
  color: #ffffff;
  font-size: 20px;
  padding: 20px;
  width: 250px;
  cursor: pointer;
  margin-bottom: 2%;
}

.footer {
  margin-top: 1rem;
  padding: 1rem 5.5rem;
  background-color: #24242c;
  color: white;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: larger;
}

.teamLink {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

.card {
  margin: 1rem 6rem;
}

.aboutCard {
  margin: 1rem 6rem;
  text-align: center;
  color: white;
  background-color: #24242c;
}

.teamImg {
  /* margin: 3rem 3rem; */
  padding: 3rem;
}

.roadmapHeader {
  font-family: "Franklin Gothic Medium", Candara;
}

.slideshow {
  width: 30rem;
  margin: 0rem 2rem 5.5rem 4rem;
}

#progressBarContainer {
  position: fixed;
  z-index: 10;
  background: rgba(36, 36, 44, 0.1);
  width: 100%;
  top: 0;
  left: 0;
}

#progressBar {
  background: black;
  /* background: linear-gradient(to right, #1c1c1c, black); */
  /* background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  ); */
  transform-origin: top left;
  transform: scale(0, 0);
  opacity: 0;
}

#progressBarContainer,
#progressBar {
  height: 12px;
}
